body {
	background-image: url("Assets/Images/hoth4.png");
	background-size: 2400px;
}

.header-panel , .battle-panel ,  .char-select-panel {
   opacity: .65;
}

.header-panel {
	max-height: 100px;
}

.battle-panel {
	margin-bottom: 150px;
	margin-top : 60px;
	min-height: 400px;
	
}

h2 , h3 ,h4{
	margin: 0 auto;
	text-align: center;
}

#chewy {
	opacity: 1;
}


#atkBtn {
	margin: 0 auto;
	display: inline-block;
	text-align: center;
}